/* 全局样式 */
h1 {
    font-size: var(--h1);
    font-weight: bold;
}
h2 {
    font-size: var(--h2);
    padding-top: 50px;
    border-bottom: var(--my-gary) dashed 2px ;
    font-weight: bold;
}
h3 {
    font-size: var(--h3);
    font-weight: bold;
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
h6 {
    font-size: var(--h6);
}
pre,code {
    padding: 2px 5px;
}
code {
    color: var(--my-cyan);
    background:var(--my-gary);
    border-radius: 3px;
}
p code{
    line-height: 5px;
}
blockquote {
    color: var(--my-cyan);
    background:var(--my-gary);

    border-left:10px solid var(--my-cyan);
    margin-left: 0;
    padding:5px 15px;
}
table,td,th,tr {
    border: var(--my-cyan) ridge 1px;
    padding: 7px 10px;
}
table {
    text-align: left;

    width: 100%;
    font-weight: normal;
    border-collapse: collapse;
    border-spacing: 0;
}
table th {
    color: var(--my-cyan);
}
p img {
    max-width: var(--img-maxWidth);
}
p a,a:hover {
    font-weight: bold;
    text-decoration: underline;
}
p li {
    margin-left: -12px;
}

.content {
    padding:80px 0;
    background-color: var(--my-white);
}

/* 重写组件样式 */
.ant-menu-horizontal {
    border-bottom: none;
}