/* 全局变量 */
:root {
    /* 主题颜色 */
    --my-white: #ffffff; /*白色*/
    --my-gary: #e8e8e8; /*灰色*/
    --my-blue: #348cf0; /*蓝色*/
    --my-red: #ff4d00; /*红色*/
    --my-cyan: #59606e; /*青色*/

    /* 主题配置 */
    --menu-height: 60px; /*顶部栏高度*/
    --content-padding: 3%; /*内容栏左右边距*/
}

/*根据屏幕调整字体大小*/
@media screen and (max-width: 480px) {
    :root {
        --h1: 29px;
        --h2: 21px;
        --h3: 17px;
        --h4: 13px;
        --h5: 9px;
        --h6: 5px;

        --img-maxWidth: 100%;
    }
}
@media screen and (min-width: 481px ){
    :root {
        --h1: 36px;
        --h2: 29px;
        --h3: 23px;
        --h4: 19px;
        --h5: 15px;
        --h6: 12px;

        --img-maxWidth: 100%;
    }
}

/* 全局字体样式 */
body {
    font-family: "mono", serif;
    color: var(--my-cyan);
    background-color: var(--my-white);
}
body a {
    color: var(--my-cyan);
}
body a:hover {
    color: var(--my-blue);
    font-weight: normal;
}